# conf/config.yaml

defaults:
  - _self_

dataset:
  dataset_name: "speech_commands"
  root_dir: ${hydra:runtime.cwd}/data/raw/speech_commands
  class_names: ["down", "go", "left", "no", "off", "on", "right", "stop", "up", "yes", "_silence_", "_unknown_"]

