# conf/config.yaml

defaults:
  - _self_

dataset:
  dataset_name: "speech_commands"
  root_dir: ${hydra:runtime.cwd}/data/raw
  class_names: ["down", "go", "left", "no", "off", "on", "right", "stop", "up", "yes", "_silence_", "_unknown_"]

audio:
  sr: 16000
  duration: 1 #sec

batch_size: 64

paths:
  train_path: ${hydra:runtime.cwd}/data/raw/numpy/train.npz
  val_path: ${hydra:runtime.cwd}/data/raw/numpy/val.npz
  test_path: ${hydra:runtime.cwd}/data/raw/numpy/test.npz

features:
  stft:
    n_fft: 1024
    win_length: 1024
    hop_length: 256
    window: hann
    center: true
  
  settings:
    stft_to_db: True
    n_jobs: -1
