# conf/config.yaml

defaults:
  - _self_

dataset:
  dataset_name: "speech_commands"
  root_dir: ${hydra:runtime.cwd}/data/raw
  class_names: ["down", "go", "left", "no", "off", "on", "right", "stop", "up", "yes", "_silence_", "_unknown_"]
  download: false  # Set to true on first run to download the dataset
  num_classes: 12

audio:
  sr: 16000
  duration: 1 #sec

batch_size: 64

paths:
  train_path: ${hydra:runtime.cwd}/data/raw/numpy/train.npz
  val_path: ${hydra:runtime.cwd}/data/raw/numpy/val.npz
  test_path: ${hydra:runtime.cwd}/data/raw/numpy/test.npz

features:
  stft:
    n_fft: 1024
    win_length: 1024
    hop_length: 256
    window: hann
    center: true

  mel:
    n_fft: 1024
    win_length: 1024
    hop_length: 256
    n_mels: 64
    window: hann
    center: true
    fmin: 0.0
    fmax: 8000.0

  mfcc:
    n_fft: 1024
    win_length: 1024
    hop_length: 256
    n_mels: 64
    n_mfcc: 20
    window: hann
    center: true
    fmin: 0.0
    fmax: 8000.0
  
  settings:
    stft_to_db: true
    mel_to_db: true
    mfcc_include_deltas: true
    n_jobs: -1

feature_to_extract: 
  #- stft
  #- mel # e.g. python main.py feature_to_extract=['mel']
  - mfcc  

cnn:
  in_channels: 1
  base_channels: 16
  channel_multiplier: 2
  dropout_p: 0.1
  use_local_pool: true
  use_global_pool: true
  linear_hidden: 64
  kernel_size: [3,3]
  stride: [1,1]
  padding: [1,1]
  pool_size: [2,2]

training:
  epochs: 100
  batch_size: 64
  learning_rate: 1e-3
  weight_decay: 1e-4
  seed: 42
  deterministic: False

  device: auto   # auto | cpu | cuda

  save:
    enabled: true
    dir: ${hydra:runtime.cwd}/model/checkpoints
    save_best_only: true
    monitor: val_loss   # val_loss | val_acc
    filename: best_model.pt

  plotting:
    enabled: true
    dir: ${hydra:runtime.cwd}/model/plots
    filename: training_curves.png

  logging:
    print_every: 1

  early_stopping:
    enabled: true
    patience: 10

evaluation:
  plotting:
    enabled: true
    dir: ${training.plotting.dir}
    filename: confusion_matrix.png